[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
aiohttp = "*"
playwright = "*"
scrapy = "*"
scrapy-playwright = "*"

[dev-packages]

[requires]
python_version = "3.10"
